<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Bivala Amin home page </title>
</head>
<body>
  <h2>
   LEader pleases
  </h2>

  <p>
      See you in In server!!!!
  </p>
  <p>RAHASIA tapi menyedihkan!!!</p>
  <hr/>
  <a th:href="@{/}">
    Back to home page
  </a>
  <hr/>
    <form th:action="@{/logout}" action="#" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>